.venv/
venv/

__pycache__/
*.py[cod]

*.log
!debug.log

.idea/

.vscode/

.DS_Store
Thumbs.db

.env

.pytest_cache/
.tox/
.mypy_cache/
.dmypy.json
.coverage
coverage.xml

build/
dist/
*.egg-info/
.eggs/

docs/_build/
site/

.ipynb_checkpoints

.streamlit/secrets.toml
